<form  action="/api/session/restore" method="post"  id="Form Login">
  Email:
  <input type="email" name="email" id="email" />
  New Password:
  <input type="password" name="password" id="password" />
  <input type="submit" value="Restore" />
</form>